.navbar {
    background-color: black;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url(deko.jpg);
    background-size: cover;
    background-position: absolute;
    
  
   
    
    
}
.navbar a {
    float: left;
    color: cyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.fhome{
    background-color: blueviolet;
    color: white;
}
h1{
   text-align: center;
   color: lawngreen;
   padding: 20px 30px;
   font-size: 50px;
   font-family: fantasy;
   font-weight: bolder;
   font-stretch: wider;

}
/* @media screen and (max-width: 200px){
    body{
        background-size: 100% 100%;
    }
}  */