 h2 {
    text-align: center;
}
 
  form {
       
    width: 40%;
    height:150px;
    margin: 0 auto;
    padding-top: 3%;
    background-image: url(kit.JPG);
    background-size: cover;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    color: black;

  }
  body {
        background-color: skyblue;
  }
